<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="jonask.nano.alexandria3">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity
                android:name=".MainActivity"
                android:label="@string/app_name"
                android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
                android:label="@string/title_activity_scan"
                android:name=".ScanActivity"
                android:parentActivityName=".MainActivity" >
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".MainActivity" />
        </activity>

        <activity
                android:label="@string/title_activity_settings"
                android:name=".SettingsActivity"
                android:parentActivityName="jonask.nano.alexandria3.MainActivity"
                android:theme="@style/AppTheme">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="jonask.nano.alexandria3.MainActivity" />
        </activity>

        <provider
                android:name=".data.BookProvider"
                android:authorities="jonask.nano.alexandria3"
                android:exported="false" />
        <service
                android:name=".services.BookService"
                android:exported="false" >
        </service>
    </application>

</manifest>
